<a href="https://colab.research.google.com/github/haishah/aishatjimohstageone/blob/master/stageone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
!wget -O hamoye.csv https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv

--2020-07-21 16:29:32--  https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2649320 (2.5M) [text/plain]
Saving to: ‘hamoye.csv’

hamoye.csv          100%[===================>]   2.53M  16.7MB/s    in 0.2s

2020-07-21 16:29:32 (16.7 MB/s) - ‘hamoye.csv’ saved [2649320/2649320]

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
fuel_data = pd.read_csv('hamoye.csv')

In [44]:
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

QUESTION 2

In [26]:
# How to create an identity matrix in python
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

QUESTION 3

In [27]:
# fuel type
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

QUESTION 4

In [43]:
# Standard deviation 
std_deviation = fuel_data['fuel_mmbtu_per_unit'].std()
print('standard deviation: ' + str(std_deviation))

standard deviation: 10.600220307806886

In [29]:
# 75th percentile
percentile = fuel_data['fuel_mmbtu_per_unit'].quantile(q=0.75, interpolation='linear')
print('the 75% quantile equals:' + str(percentile))

the 75% quantile equals:17.006

QUESTION 5

In [30]:
# Skewness for the fuel quantity burned
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [31]:
# Kurtosis for the fuel quantity burned
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

QUESTION 6

In [36]:
#Feature that has missing values and the total number of the missing value

null = fuel_data['fuel_unit'].isnull().sum()
#using count functions to specify the total value of rows 
total_value = fuel_data['record_id'].count()
total_value1 = fuel_data['fuel_unit'].count()

# Percentage of missed number
percentage1 = (null/total_value1) * 100
percentage1

0.6134342091810653

QUESTION 8

In [38]:
# Feature that has the second and third lowest correlation with fuel Cost Per Unit Burned
fuel_data.corr().loc['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

QUESTION 9

In [39]:
# Percentage change in the fuel cost per unit burned in 1998 compared to 1994

yearly_cost = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

#using the loc label to extract cost between year 1998 to 1994
year_1994, year_1998 = yearly_cost.loc[[1994, 1998], 'coal']

#Finding the percentage change
percent_change = ((year_1998 - year_1994)/ year_1994) * 100

percent_change

-20.56765451826049

QUESTION 10

In [41]:
# Year that has the highest average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values

<bound method Series.sort_values of report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64>